
.container {
    max-width: 500px;
    margin: auto;
}
.device
{
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}
.env-sensor {
    border: 1px solid green;
}
.light {
    border: 1px solid blue;
}
.aircon {
    border: 1px solid rgb(231, 180, 14);
}